@import "../variables";
@import "../utilities";

#about {
  padding-top: 12rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  grid-gap: 2rem;
  position: relative;
  @media (min-width: $md) {
    flex-direction: row;
  }
}

.about_wrapper {
  width: 90%;
}

.about_button-container {
  padding-top: 2rem;
  display: flex;
  grid-gap: 1rem;
  flex-direction: column;
  margin-top: 3rem;
  @media (min-width: $xs) {
    flex-direction: row;
    max-width: 300px;
  }
}
