@import "../variables";

#home {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_container {
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
  @media (min-width: $xs) {
    padding-bottom: 3rem;
  }
}

.hero_heading {
  margin: 0;
  color: $light;
  margin-bottom: 1rem;
  @media (min-width: $sm) {
    margin-bottom: 2rem;
  }
}

.hero_sub-heading {
  font-size: $font-medium;
  font-weight: $font-thin;
  color: $light;
  letter-spacing: 1px;
  margin: 0;
  @media (min-width: $sm) {
    font-size: $font-large;
    letter-spacing: 4px;
  }
}

.hero_icon-button {
  position: absolute;
  bottom: 5rem;
  font-size: 4rem;
  margin: auto;
  cursor: pointer;
  color: $light;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $secondary;
  }
  @media (min-width: $xs) {
    bottom: 2rem;
  }
}
