@import "./variables";

.container {
  max-width: 1250px;
  padding: 0 2rem;
  margin: auto;
  @media (min-width: $xs) {
    padding: 0 3rem;
  }
}

// Background color classes
.bg-color_primary {
  background-color: $primary;
}
.bg-color_primary-light {
  background-color: $primaryLight;
}
.bg-color_primary-dark {
  background-color: $primaryDark;
}

// Margins
.mt-1-5 {
  margin-top: 1.5rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

// Alignments
.center {
  text-align: center;
}
